// font-size url

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
// font-family: 'Inter', sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
// font-family: 'Lexend Deca', sans-serif;

// (main background)
$Very-dark-blue: hsl(233, 47%, 7%);

//(card background)
$Dark-desaturated-blue: hsl(244, 38%, 16%);

//(accent)
$Soft-violet: hsl(277, 64%, 61%);

//(main heading, stats)
$White: hsl(0, 0%, 100%);

// (main paragraph)
$Slightly-passage-white: hsla(0, 0%, 100%, 0.75);

// (stat headings)
$Slightly-transpareent-white: hsla(0, 0%, 100%, 0.6);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  background-color: $Very-dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}

main {
  width: 70%;
  display: flex;
  background-color: $Dark-desaturated-blue;
  border-radius: 6px;
  margin: auto;

  .card-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 4rem;
    gap: 4rem;

    .info-header {
      color: $White;
      font-family: "Inter", sans-serif;
      font-size: 2.2rem;

      span {
        color: $Soft-violet;
      }
    }
    .info-passage {
      color: $Slightly-passage-white;
      font-weight: 400;
      font-size: 0.9rem;
      font-family: "Lexend Deca", sans-serif;
      line-height: 1.5rem;
      padding-right: 3rem;
      margin-top: -2rem;
    }
    .info-stats {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding-right: 5.5rem;
      font-family: "Inter", sans-serif;
      gap: 1rem;

      .stats {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;

        h2 {
          color: $White;
          font-weight: 700;
          font-size: 1.1rem;
        }

        p {
          color: $Slightly-transpareent-white;
          font-size: 0.6rem;
        }
      }
    }
  }

  .card-img {
    width: 50%;
    position: relative;

    &::after {
      width: 100%;
      height: 100%;
      display: block;
      content: "";
      fill-opacity: 1;
      position: absolute;
      background-color: rgba(71, 1, 114, 0.584);
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      z-index: 1;
      top: 0;
      left: 0;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }
}

@media screen and (max-width: 1180px) {
  main {
    width: 95%;

    // display: flex;
    // background-color: $Dark-desaturated-blue;
    // border-radius: 6px;
    // margin: auto;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 13px;
  }

  main {
    width: 310px;
    height: 97%;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 6px;

    .card-info {
      width: 100%;
      height: 60%;
      order: 2;
      gap: 3rem;

      .info-header {
        font-size: 1.7rem;
        text-align: center;
      }
      .info-passage,
      .info-stats {
        padding-right: 0rem;
        text-align: center;
      }

      .info-stats {
        flex-direction: column;
        align-items: center;

        .stats {
          justify-content: center;
          align-items: center;

          p {
            font-size: 0.7rem;
          }
        }
      }
    }

    .card-img {
      width: 100%;
      height: 40%;
      order: 1;

      &::after {
        border-top-left-radius: 6px;
        border-bottom-right-radius: 0px;
      }
      img {
        border-top-left-radius: 6px;
        border-bottom-right-radius: 0px;
      }
    }
  }
}
